/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Fonts */

/* Variables */
:root {
  --black: #494949;
  --blue: #5458EA;

}

/* Variables */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  list-style: none;
}

ul,
ol {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

/* input,
textarea,
select {
  outline: none;
  border: 1px solid gray;
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
} */

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

abbr {
  text-decoration: none;
}

img,
fieldset {
  border: 0;
}

img {
  max-width: 100%;
}

/* Reset styles */

/* Styles */
.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

/* Styles */